/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: sans-serif;
} */

/* utilities */

body {
    font-family: 'Poppins', sans-serif;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

img {
    height: 120px;
}

/* contents */

#title {
    color: #e53170;
    height: 140px;
    text-align: center;
    padding-top: 50px;
}

section>p {
    text-align: center;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.profiles {
    padding: 40px 20px;
}

.profile-image {
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    height: 120px;
    margin-top: 30px;
}

.image {
    float: left;
}

.margin1-2 {
    margin-right: 30px;
}

.infos {
    float: left;
    color: white;
    padding: 10px 0px 0px 10px;
}

.email {
    color: lightskyblue;
}