/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: sans-serif;
} */

/* utilities */

header {
    font-family: 'Poppins', sans-serif;
}

/* contents */

#title {
    color: #e53170;
    height: 140px;
    text-align: center;
    padding-top: 50px;
}